.about {
  z-index: 4;

  &__img.col-xxl-5 {
    position: absolute;
    width: auto;
    top: 13%;
    right: -3vw;
    max-width: 700px;

  }

  @media screen and (max-width: 1280px) {
    &__img.col-xxl-5 {
      width: 60%
    }
  }
  @media screen and (max-width: 992px) {
    &__img.col-xxl-5 {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      width: 100%;
      margin-bottom: -40px;
    }
  }
}