.footer {
  padding-bottom: 40px;
  padding-top: 50px;
  margin-top: 100px;
  z-index: 3;
  position: relative;
  background-image: url('../img/picture/footer-bg-1920.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  &-working-hours {
    td {
      border: none;
    }

    &:first-child {
      margin-right: 40px;
    }
  }

  &__decor {
    z-index: 2;
  }

  @media screen and (min-width: 1921px) {
    background-image: url('../img/picture/footer-bg-2560.jpeg');
  }
  @media screen and (max-width: 1440px) {
    background-image: url('../img/picture/footer-bg-1440.jpeg');
    background-position: bottom center;
  }
  @media screen and (max-width: 1024px) {
    background-image: url('../img/picture/footer-bg-tablet.jpeg');
  }
  @media screen and (max-width: 840px) {
    background-image: url('../img/picture/footer-bg-mob.jpeg');
  }
}