.header {
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba($black, 0.6);

  &__navbar-btn {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
    will-change: background-color, border-color;
    transition: background-color 0.4s ease-out, border-color 0.4s ease-out;

    .navbar-toggler-icon {
      width: 24px;
      height: 22px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      will-change: rotate;
      transition: transform 0.4s ease-out;
    }

    &.navbar-toggler:active, &.navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }

    @media (hover: hover) {
      &:hover {
        border-color: $orange;
        background-color: $orange;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .btn-burger {
      order: 2;
      width: auto;
    }
    .custom-logo-link {
      order: 1;
    }
  }
  @media screen and (max-width: 576px) {
    .container-fluid{
      margin: 0!important;
    }
    .custom-logo-link{
      padding:0;
      img{
        max-height: 70px;
        width: auto;
      }
    }
  }
}

.nav {
  &-item {
    .nav-link {
      color: $black;
      @media (hover: hover) {
        &:hover {
          color: $orange;
        }
      }
    }
  }

  &-link {
    color: $white;
    @media (hover: hover) {
      &:hover {
        color: $beige-hover;
      }
    }
  }
}

.offcanvas {
  background-color: $beige;

  .login {
    display: flex;
    align-items: center;

    a {
      color: $black;
      @media (hover: hover) {
        &:hover {
          color: $orange-hover;
        }
      }
    }
  }
}

.cart-link-mobile path {
  stroke: $black;
}