.intro {
  background-color: $black;
  &__slide {
    &__image {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgb(22, 22, 26);
        background: linear-gradient(180deg, rgba(22, 22, 26, 0.6) 0%, rgba(22, 22, 26, 0) 100%);
      }
    }

    &__content {
      z-index: 2;
    }

    &__text {
      max-width: 760px;
    }
  }
}