<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container p-4 my-5 pb-0">
    <!-- Section: Form -->
    <section class="">
        <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                    <h3>Join Our Newsletter</h3>
                    <p class="pt-2">
                        <strong>Get latest news & updates in your inbox.</strong>
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-5 col-12">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form5Example2" placeholder="Subscribe our delicious dishes" class="form-control"/>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-auto">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary mb-4">
                        Subscribe Now
                    </button>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </form>
    </section>
    <!-- Section: Form -->
</div>
<!-- End of .container -->
<footer class="text-white text-center text-lg-start bg-dark">
    <!-- Grid container -->
    <div class="container-fluid p-4">
        <!--Grid row-->
        <div class="row mt-4">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-white">
                <h5 class="text-uppercase text-white mb-4">Contact Location</h5>

                <p>
                    3784 Patterson Road,
                    #8 New York, CA 69000
                </p>

                <p>
                    (201) 256 - 3689

                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-white mb-4">Working Hours</h5>

                <table class="table text-center text-white">
                    <tbody class="fw-normal">
                    <tr>
                        <td>Monday - Friday</td>
                        <td>09:00 AM - 10:00 PM</td>
                    </tr>
                    <tr>
                        <td>Saturday - Sunday</td>
                        <td>09:00 AM - 11:00 PM8am - 1am</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright © 2021 Bistro Food. All rights reserved.
    </div>
    <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->