<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bistro Food website</title>
    <link rel="stylesheet" href="./assets/css/styles.min.css">
</head>
<body>
@@include_once('./template-parts/header.html')
<main>

    <section class="intro vh-100 vw-100">
        <div class="swiper-container js-intro-slider h-100 w-100">
            <!--            https://codepen.io/simranthapa/pen/eYmjYYw-->
            <div class="swiper-wrapper">
                <div class="swiper-slide d-flex-column justify-content-center h-100">
                    <div class="container intro__slide__content d-flex-column-center text-center">
                        <h3 class="intro__slide__subtitle fst-italic text-white">Nothing brings together like</h3>
                        <h2 class="h1 intro__slide__title text-white">Bistro Cafe</h2>
                        <p class="text-white w-75 intro__slide__text mb-5">
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi conse quat ipsum, nec sagittis sem
                            nibh id
                            elituis sed odio sit amet.
                        </p>
                        <a href="#" class="btn">Find Out More</a>
                    </div>
                    <picture class="intro__slide__image">
                        <source media="(min-width:1921px)" srcset="../assets/img/picture/avocado-first-screen-2560.jpg"
                                type="image/jpg">
                        <source media="(min-width:1441px)" srcset="../assets/img/picture/avocado-first-screen-1920.jpg"
                                type="image/jpg">
                        <source media="(min-width:840px)" srcset="../assets/img/picture/avocado-first-screen-1440.jpg"
                                type="image/jpg">
                        <source media="(min-width:480px)" srcset="../assets/img/picture/avocado-first-screen-tablet.jpg"
                                type="image/jpg">
                        <source media="(min-width:300px)" srcset="../assets/img/picture/avocado-first-screen-mobile.jpg"
                                type="image/jpg">
                        <img src="../assets/img/picture/avocado-first-screen-mobile.jpg" alt="Avocado">
                    </picture>

                </div>
                <div class="swiper-slide d-flex-column justify-content-center h-100">
                    <div class="container intro__slide__content d-flex-column-center text-center">
                        <h2 class="h1 intro__slide__title text-white">Bistro Cafe</h2>
                        <h3 class="intro__slide__subtitle fst-italic text-white">Nothing brings together like</h3>
                        <p class="text-white w-75 intro__slide__text mb-5">
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi conse quat ipsum, nec sagittis sem
                            nibh id
                            elituis sed odio sit amet.
                        </p>
                        <a href="#" class="btn">Find Out More</a>
                    </div>
                    <picture class="intro__slide__image">
                        <source media="(min-width:1921px)" srcset="../assets/img/picture/burger-2560.jpg"
                                type="image/jpg">
                        <source media="(min-width:1441px)" srcset="../assets/img/picture/burger-1920.jpg"
                                type="image/jpg">
                        <source media="(min-width:840px)" srcset="../assets/img/picture/burger-1440.jpg"
                                type="image/jpg">
                        <source media="(min-width:480px)" srcset="../assets/img/picture/burger-tablet.jpg"
                                type="image/jpg">
                        <source media="(min-width:300px)" srcset="../assets/img/picture/burger-mobile.jpg"
                                type="image/jpg">
                        <img src="../assets/img/picture/burger-mobile.jpg" alt="Burger">
                    </picture>
                </div>
                <div class="swiper-slide d-flex-column justify-content-center h-100">
                    <div class="container intro__slide__content d-flex-column-center text-center">
                        <h2 class="h1 intro__slide__title text-white">Bistro Cafe</h2>
                        <p class="text-white w-75 intro__slide__text mb-5">
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi conse quat ipsum, nec sagittis sem
                            nibh id
                            elituis sed odio sit amet.
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi conse quat ipsum, nec sagittis sem
                            nibh id
                            elituis sed odio sit amet.
                        </p>
                        <a href="#" class="btn">Find Out More</a>
                    </div>
                    <picture class="intro__slide__image">
                        <source media="(min-width:1921px)" srcset="../assets/img/picture/steak-2560.jpg"
                                type="image/jpg">
                        <source media="(min-width:1441px)" srcset="../assets/img/picture/steak-1920.jpg"
                                type="image/jpg">
                        <source media="(min-width:840px)" srcset="../assets/img/picture/steak-1440.jpg"
                                type="image/jpg">
                        <source media="(min-width:480px)" srcset="../assets/img/picture/steak-tablet.jpg"
                                type="image/jpg">
                        <source media="(min-width:300px)" srcset="../assets/img/picture/steak-mobile.jpg"
                                type="image/jpg">
                        <img src="../assets/img/picture/steak-mobile.jpg" alt="Steak">
                    </picture>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="decor-bottom">
            <picture>
                <source media="(min-width:1921px)" srcset="../assets/img/picture/intro-decor-2560.png" type="image/png">
                <source media="(min-width:1441px)" srcset="../assets/img/picture/intro-decor-1920.png" type="image/png">
                <source media="(min-width:840px)" srcset="../assets/img/picture/intro-decor-1440.png" type="image/png">
                <source media="(min-width:480px)" srcset="../assets/img/picture/intro-decor-1024.png" type="image/png">
                <source media="(min-width:300px)" srcset="../assets/img/picture/intro-decor-mob.png" type="image/png">
                <img src="../assets/img/picture/intro-decor-mob.png" alt="Decor">
            </picture>
        </div>

    </section>

    <section class="about pt-60 pb-80 overflow-visible">
        <div class="about__bg bg-absolute z-index-1">
            <picture>
                <source media="(min-width:1441px)" srcset="../assets/img/picture/white-bg-1920.png" type="image/png">
                <source media="(min-width:840px)" srcset="../assets/img/picture/white-bg-1440.png" type="image/png">
                <source media="(min-width:480px)" srcset="../assets/img/picture/white-bg-tablet.png" type="image/png">
                <source media="(min-width:300px)" srcset="../assets/img/picture/white-bg-mobile.png" type="image/png">
                <img src="../assets/img/picture/white-bg-mobile.png" alt="White background">
            </picture>
        </div>
        <div class="container pt-60 pb-80 z-index-2">
            <div class="row">
                <div class="col-xxl-6">
                    <p class="text-orange text-uppercase fw-bold"> our story</p>
                    <h2 class="title fst-italic">Who We Are</h2>
                    <p class="mb-5 mt-2">
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi conse quat ipsum, nec sagittis sem
                        nibh id
                        elituis sed odio sit amet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi conse quat ipsum, nec sagittis sem
                        nibh id
                        elituis sed odio sit amet.
                    </p>
                    <a href="#" class="btn">Find Out More</a>
                </div>
                <div class="col-xxl-5 about__img">
                    <picture>
                        <!--                        <source media="(min-width:300px)" srcset="../assets/img/picture/white-bg-mobile.png" type="image/png">-->
                        <img class="img-fluid" src="../assets/img/picture/eggs.png" alt="White background">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    <section class="products pt-after-header pb-80 overflow-visible z-index-3">
        <div class="about__bg bg-absolute z-index-1">
            <picture>
                <source media="(min-width:1921px)" srcset="../assets/img/picture/tree-bg-2560.jpg" type="image/jpg">
                <source media="(min-width:1441px)" srcset="../assets/img/picture/tree-bg-1920.jpg" type="image/jpg">
                <source media="(min-width:840px)" srcset="../assets/img/picture/tree-bg-1440.jpg" type="image/jpg">
                <source media="(min-width:480px)" srcset="../assets/img/picture/tree-bg-tablet.jpg" type="image/jpg">
                <source media="(min-width:300px)" srcset="../assets/img/picture/tree-bg-mob.jpg" type="image/jpg">
                <img src="../assets/img/picture/tree-bg-mob.jpg" alt="Tree background">
            </picture>
        </div>
        <div class="decor-top z-index-2">
            <picture>
                <source media="(min-width:1921px)" srcset="../assets/img/picture/intro-decor-2560.png" type="image/png">
                <source media="(min-width:1441px)" srcset="../assets/img/picture/intro-decor-1920.png" type="image/png">
                <source media="(min-width:840px)" srcset="../assets/img/picture/intro-decor-1440.png" type="image/png">
                <source media="(min-width:480px)" srcset="../assets/img/picture/intro-decor-1024.png" type="image/png">
                <source media="(min-width:300px)" srcset="../assets/img/picture/intro-decor-mob.png" type="image/png">
                <img src="../assets/img/picture/intro-decor-mob.png" alt="Decor">
            </picture>
        </div>
        <div class="container-fluid products__wrapper">
            <div class="container z-index-2 pt-60 d-flex-column-center">
                <div class="col-xxl-4">
                    <h2 class="title text-white fst-italic text-center"> Delicious Flavour
                        of Autumn</h2>
                    <p class="text-white text-center mt-4">
                        View All Menu For Tasty Meal Today
                    </p>
                    <picture class="d-flex title-decor justify-content-center align-items-center">
                        <img src="../assets/img/picture/title-decor.png" alt="Decor">
                    </picture>
                </div>


                <div class="row products__items">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                        <div class="col p-0">
                            <a href="#" class="product d-flex-column-center" target="_blank">
                                <div class="product__img">
                                    <picture class="d-flex">
                                        <img src="../assets/img/picture/choco-cake.jpg" alt="Chocolate Cake">
                                    </picture>
                                </div>

                                <div class="product__content">
                                    <div class="d-flex-column-center mb-3 text-center">
                                        <h4 class="mb-2 text-truncate-line-2 ">
                                            Chocolate Cake
                                        </h4>
                                        <h2 class="text-orange ff-lato">
                                            $7.99
                                        </h2>
                                        <p>Class aptent taciti ciosqu
                                            litora torquent per </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col p-0">
                            <a href="#" class="product d-flex-column-center" target="_blank">
                                <div class="product__content">
                                    <div class="d-flex-column-center mb-3 text-center">
                                        <h4 class="mb-2 text-truncate-line-2 ">
                                            Capo Steak
                                        </h4>
                                        <h2 class="text-orange ff-lato">
                                            $9.49
                                        </h2>
                                        <p>Class aptent taciti ciosqu </p>
                                    </div>
                                </div>
                                <div class="product__img">
                                    <picture class="d-flex">
                                        <img src="../assets/img/picture/steak-capo.jpg" alt="Chocolate Cake">
                                    </picture>
                                </div>

                            </a>
                        </div>
                        <div class="col p-0">
                            <a href="#" class="product d-flex-column-center" target="_blank">
                                <div class="product__img">
                                    <picture class="d-flex">
                                        <img src="../assets/img/picture/king-burger.jpg" alt="Chocolate Cake">
                                    </picture>
                                </div>

                                <div class="product__content">
                                    <div class="d-flex-column-center mb-3 text-center">
                                        <h4 class="mb-2 text-truncate-line-2 ">
                                            King Burger
                                        </h4>
                                        <h2 class="text-orange ff-lato">
                                            $8.50
                                        </h2>
                                        <p>Class aptent taciti ciosqu</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col p-0">
                            <a href="#" class="product d-flex-column-center" target="_blank">
                                <div class="product__content">
                                    <div class="d-flex-column-center mb-3 text-center">
                                        <h4 class="mb-2 text-truncate-line-2 ">
                                            Mexican Burger
                                        </h4>
                                        <h2 class="text-orange ff-lato">
                                            $9.99
                                        </h2>
                                        <p>Class aptent taciti ciosqu</p>
                                    </div>
                                </div>
                                <div class="product__img">
                                    <picture class="d-flex">
                                        <img src="../assets/img/picture/mexican-burger.jpg" alt="Chocolate Cake">
                                    </picture>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex-column-center mt-5">
                        <a href="#" class="btn">View Complete Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team z-index-1 pt-80">
        <div class="bg-absolute z-index-1">
            <picture>
                <source media="(min-width:1441px)" srcset="../assets/img/picture/white-bg-1920.png" type="image/png">
                <source media="(min-width:840px)" srcset="../assets/img/picture/white-bg-1440.png" type="image/png">
                <source media="(min-width:480px)" srcset="../assets/img/picture/white-bg-tablet.png" type="image/png">
                <source media="(min-width:300px)" srcset="../assets/img/picture/white-bg-mobile.png" type="image/png">
                <img src="../assets/img/picture/white-bg-mobile.png" alt="White background">
            </picture>
        </div>
        <div class="container pt-80 z-index-2">
            <div class="row">
                <div class="col-xxl-6">
                    <p class="text-orange text-uppercase fw-bold"> our team </p>
                    <h2 class="title fst-italic">Meet our Chef</h2>
                    <p class="mb-4 mt-2">
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                        nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                        ipsum velit.
                        <br>
                        <br>
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
                        neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.
                        Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl
                        quis neque. Suspendisse in orci enim.
                    </p>
                    <h4 class="text-orange fw-bold mb-0">Sara Peter</h4>
                    <h5>Executive Chef</h5>
                    <div class="d-flex mt-4">
                        <img class="w-auto" src="../assets/img/picture/signature.png" alt="Chef signature">
                    </div>
                </div>
                <div class="col-xxl-5 team__img">
                    <picture>
                        <img class="img-fluid" src="../assets/img/picture/Chefs.png" alt="Chefs photo">
                    </picture>
                </div>
            </div>
        </div>

        <div class="team__decor decor-bottom z-index-2">
            <picture>
                <source media="(min-width:1921px)" srcset="../assets/img/picture/intro-decor-2560.png" type="image/png">
                <source media="(min-width:1441px)" srcset="../assets/img/picture/intro-decor-1920.png" type="image/png">
                <source media="(min-width:840px)" srcset="../assets/img/picture/intro-decor-1440.png" type="image/png">
                <source media="(min-width:480px)" srcset="../assets/img/picture/intro-decor-1024.png" type="image/png">
                <source media="(min-width:300px)" srcset="../assets/img/picture/intro-decor-mob.png" type="image/png">
                <img src="../assets/img/picture/intro-decor-mob.png" alt="Decor">
            </picture>
        </div>
    </section>

    <section class="testimonials pt-after-header pb-100 overflow-visible">
        <div class="bg-absolute z-index-1">
            <picture>
                <source media="(min-width:1921px)" srcset="../assets/img/picture/tree-bg-2560.jpg" type="image/jpg">
                <source media="(min-width:1441px)" srcset="../assets/img/picture/tree-bg-1920.jpg" type="image/jpg">
                <source media="(min-width:840px)" srcset="../assets/img/picture/tree-bg-1440.jpg" type="image/jpg">
                <source media="(min-width:480px)" srcset="../assets/img/picture/tree-bg-tablet.jpg" type="image/jpg">
                <source media="(min-width:300px)" srcset="../assets/img/picture/tree-bg-mob.jpg" type="image/jpg">
                <img src="../assets/img/picture/tree-bg-mob.jpg" alt="Tree background">
            </picture>
        </div>
        <div class="decor-bottom testimonials__decor--top z-index-2">
            <picture>
                <source media="(min-width:1921px)" srcset="../assets/img/picture/forest-decor-2560.png"
                        type="image/png">
                <source media="(min-width:1441px)" srcset="../assets/img/picture/forest-decor-1920.png"
                        type="image/png">
                <source media="(min-width:840px)" srcset="../assets/img/picture/forest-decor-1440.png" type="image/png">
                <source media="(min-width:480px)" srcset="../assets/img/picture/forest-decor-tablet.png"
                        type="image/png">
                <source media="(min-width:300px)" srcset="../assets/img/picture/forest-decor-mobile.png"
                        type="image/png">
                <img src="../assets/img/picture/forest-decor-mobile.png" alt="Decor">
            </picture>
        </div>
        <div class="container z-index-2 d-flex-column-center">
            <div class="col-xxl-4">
                <h2 class="title text-white fst-italic text-center"> What Client’s Say</h2>
                <p class="text-white text-center mt-2">
                    1500+ Satisfied Clients
                </p>
                <picture class="d-flex title-decor justify-content-center align-items-center">
                    <img src="../assets/img/picture/title-decor.png" alt="Decor">
                </picture>
            </div>
            <div class="swiper testimonials__items js-testimonials-slider mt-5">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide d-flex-column-center">
                        <div class="testimonials__item">
                            <h4 class="text-white text-center">
                                “Duis diam eros, dignissim sed condimentum ac, vehicula nec nisl. Suspendisse
                                condimentum libero tempus, accumsan augue et, varius dui. Morbi justo tortor, tincidunt
                                ornare magna ut, molestie mattis enim. Cras ac justo et augue ”
                            </h4>
                            <div class="testimonials__item__customer d-flex-column-center">
                                <div class="img d-flex">
                                    <svg width="103" height="103" viewBox="0 0 103 103" fill="none"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <mask id="mask0_65_11" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                              y="0" width="103" height="103">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M102.317 46.084C101.968 47.132 102.041 48.1502 102.536 49.1382L91.03 83.699C90.043 84.194 89.374 84.9652 89.025 86.0132L56.451 102.316C55.403 101.968 54.385 102.04 53.397 102.534L18.836 91.0291C18.341 90.0411 17.57 89.3732 16.522 89.0242L0.218994 56.4502C0.567994 55.4022 0.495 54.384 0 53.396L11.506 18.8352C12.493 18.3402 13.162 17.569 13.511 16.521L46.085 0.218018C47.133 0.566018 48.151 0.494 49.139 0L83.7 11.5051C84.195 12.4921 84.966 13.161 86.014 13.51L102.317 46.084Z"
                                                  fill="#FFFCE4"/>
                                        </mask>
                                        <g mask="url(#mask0_65_11)">
                                            <rect x="-4" y="-3" width="109" height="109" fill="url(#pattern0)"/>
                                        </g>
                                        <defs>
                                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1"
                                                     height="1">
                                                <use xlink:href="#image0_65_11" transform="scale(0.00917431)"/>
                                            </pattern>
                                            <image id="image0_65_11" width="109" height="109"
                                                   xlink:href="../assets/img/picture/testimonial-1.png"/>
                                        </defs>
                                    </svg>
                                </div>
                                <h4 class="text-orange fw-bold mb-0 mt-3">Rick Thompson</h4>
                                <h5 class="text-white">CEO of Delightetn</h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide d-flex-column-center">
                        <div class="testimonials__item">
                            <h4 class="text-white text-center">
                                “Duis diam eros, dignissim sed condimentum ac, vehicula nec nisl. Suspendisse
                                condimentum libero tempus, accumsan augue et, varius dui. Morbi justo tortor, tincidunt
                                ornare magna ut, molestie mattis enim. Cras ac justo et augue ”
                            </h4>
                            <div class="testimonials__item__customer d-flex-column-center">
                                <div class="img d-flex">
                                    <svg width="103" height="103" viewBox="0 0 103 103" fill="none"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <mask id="mask0_65_12" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                              y="0" width="103" height="103">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M102.317 46.084C101.968 47.132 102.041 48.1502 102.536 49.1382L91.03 83.699C90.043 84.194 89.374 84.9652 89.025 86.0132L56.451 102.316C55.403 101.968 54.385 102.04 53.397 102.534L18.836 91.0291C18.341 90.0411 17.57 89.3732 16.522 89.0242L0.218994 56.4502C0.567994 55.4022 0.495 54.384 0 53.396L11.506 18.8352C12.493 18.3402 13.162 17.569 13.511 16.521L46.085 0.218018C47.133 0.566018 48.151 0.494 49.139 0L83.7 11.5051C84.195 12.4921 84.966 13.161 86.014 13.51L102.317 46.084Z"
                                                  fill="#FFFCE4"/>
                                        </mask>
                                        <g mask="url(#mask0_65_12)">
                                            <rect x="-4" y="-3" width="109" height="109" fill="url(#pattern1)"/>
                                        </g>
                                        <defs>
                                            <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1"
                                                     height="1">
                                                <use xlink:href="#image0_65_12" transform="scale(0.00917431)"/>
                                            </pattern>
                                            <image id="image0_65_12" width="109" height="109"
                                                   xlink:href="../assets/img/picture/testimonial-2.png"/>
                                        </defs>
                                    </svg>
                                </div>
                                <h4 class="text-orange fw-bold mb-0 mt-3">Mark Simpson</h4>
                                <h5 class="text-white">CEO of Brandcook</h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide  d-flex-column-center">
                        <div class="testimonials__item">
                            <h4 class="text-white text-center">
                                “Duis diam eros, dignissim sed condimentum ac, vehicula nec nisl. Suspendisse
                                condimentum libero tempus, accumsan augue et, varius dui. Morbi justo tortor, tincidunt
                                ornare magna ut, molestie mattis enim. Cras ac justo et augue ”
                            </h4>
                            <div class="testimonials__item__customer d-flex-column-center">
                                <div class="img d-flex">
                                    <svg width="103" height="103" viewBox="0 0 103 103" fill="none"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <mask id="mask0_65_13" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                              y="0" width="103" height="103">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M102.317 46.084C101.968 47.132 102.041 48.1502 102.536 49.1382L91.03 83.699C90.043 84.194 89.374 84.9652 89.025 86.0132L56.451 102.316C55.403 101.968 54.385 102.04 53.397 102.534L18.836 91.0291C18.341 90.0411 17.57 89.3732 16.522 89.0242L0.218994 56.4502C0.567994 55.4022 0.495 54.384 0 53.396L11.506 18.8352C12.493 18.3402 13.162 17.569 13.511 16.521L46.085 0.218018C47.133 0.566018 48.151 0.494 49.139 0L83.7 11.5051C84.195 12.4921 84.966 13.161 86.014 13.51L102.317 46.084Z"
                                                  fill="#FFFCE4"/>
                                        </mask>
                                        <g mask="url(#mask0_65_13)">
                                            <rect x="-4" y="-3" width="109" height="109" fill="url(#pattern0)"/>
                                        </g>
                                        <defs>
                                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1"
                                                     height="1">
                                                <use xlink:href="#image0_65_13" transform="scale(0.00917431)"/>
                                            </pattern>
                                            <image id="image0_65_13" width="109" height="109"
                                                   xlink:href="../assets/img/picture/testimonial-1.png"/>
                                        </defs>
                                    </svg>
                                </div>
                                <h4 class="text-orange fw-bold mb-0 mt-3">Charles Nickelson</h4>
                                <h5 class="text-white">Brand Chef of Seriously Fishman</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination js-testimonials-slider-pagination"></div>
                <div class="swiper-button-next">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M23.12,9.91,19.25,6a1,1,0,0,0-1.42,0h0a1,1,0,0,0,0,1.41L21.39,11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H21.45l-3.62,3.61a1,1,0,0,0,0,1.42h0a1,1,0,0,0,1.42,0l3.87-3.88A3,3,0,0,0,23.12,9.91Z"
                              fill="#E1753B"/>
                    </svg>

                </div>
                <div class="swiper-button-prev">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M23.12,9.91,19.25,6a1,1,0,0,0-1.42,0h0a1,1,0,0,0,0,1.41L21.39,11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H21.45l-3.62,3.61a1,1,0,0,0,0,1.42h0a1,1,0,0,0,1.42,0l3.87-3.88A3,3,0,0,0,23.12,9.91Z"
                              fill="#E1753B"/>
                    </svg>

                </div>
            </div>
        </div>
    </section>
    <section class="gallery  pt-80">
        <div class="bg-absolute z-index-1">
            <picture>
                <source media="(min-width:1441px)" srcset="../assets/img/picture/white-bg-1920.png" type="image/png">
                <source media="(min-width:840px)" srcset="../assets/img/picture/white-bg-1440.png" type="image/png">
                <source media="(min-width:480px)" srcset="../assets/img/picture/white-bg-tablet.png" type="image/png">
                <source media="(min-width:300px)" srcset="../assets/img/picture/white-bg-mobile.png" type="image/png">
                <img src="../assets/img/picture/white-bg-mobile.png" alt="White background">
            </picture>
        </div>
        <div class="container z-index-2 pt-60 d-flex-column-center">
            <div class="col-xxl-4">
                <h2 class="title fst-italic text-center"> Delicious Flavour
                    of Autumn</h2>
                <p class=" ext-center mt-4">
                    View All Menu For Tasty Meal Today
                </p>
                <picture class="d-flex title-decor justify-content-center align-items-center">
                    <img src="../assets/img/picture/title-decor.png" alt="Decor">
                </picture>
            </div>


            <div class="row products__items">
                <div class="booking-form">
                    <div class="card">
                            <!-- Start Form -->
                            <form id="bookingForm" action="#" method="" class="needs-validation" novalidate autocomplete="off">
                                <!-- Start Input Name -->
                                <div class="form-group">
                                    <label for="inputName">Name</label>
                                    <input type="text" class="form-control" id="inputName" name="name" placeholder="Your name" required />
                                    <small class="form-text text-muted">Please fill your name</small>
                                </div>
                                <!-- End Input Name -->

                                <!-- Start Input Email -->
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <!-- End Input Email -->

                                <!-- Start Input Telephone -->
                                <div class="form-group">
                                    <label for="inputPhone">Phone</label>
                                    <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="099xxxxxxx" pattern="\d{3}\d{3}\d{4}" required />
                                    <small class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                                </div>
                                <!-- End Input Telephone -->

                                <!-- Start Input Date , Start Time and End Time -->
                                <div class="form-row">
                                    <!-- Start Input Date -->
                                    <div class="form-group col-md-4">
                                        <label for="inputDate">Date</label>
                                        <input type="date" class="form-control" id="inputDate" name="date" required />
                                        <small class="form-text text-muted">Please choose date and time for meeting.</small>
                                    </div>
                                    <!-- End Input Date -->

                                    <!-- Start Input Start Time -->
                                    <div class="form-group col-md-4">
                                        <label>Start Time</label>
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <select class="form-control mr-1" id="inputStartTimeHour" name="startHour" required>
                                                <option value="" disabled selected>Hour</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                            </select>
                                            <div class="pl-1 pr-2">:</div>
                                            <select class="form-control" id="inputStartTimeMinute" name="startMinute" required>
                                                <option value="" disabled selected>Min</option>
                                                <option value="00">00</option>
                                                <option value="00">30</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- End Input Start Time -->

                                </div>
                                <!-- End Input Date , Start Time and End Time -->

                                <!-- End Check Room Type -->

                                <hr />

                                <!-- Start Submit Button -->
                                <button class="btn btn-primary btn-block col-lg-2" type="submit">Submit</button>
                                <!-- End Submit Button -->
                            </form>
                            <!-- End Form -->>
                    </div>
                </div>
                <div class="col d-flex-column-center mt-5">
                    <a href="#" class="btn">View Complete Menu</a>
                </div>
            </div>
        </div>
        <div class="container z-index-2">
            <div class="row">
                <div class="col-md-4 mt-3 col-lg-4">
                    <picture>
                        <source media="(min-width:840px)" srcset="../assets/img/picture/photo01-660.png" type="image/png">
                        <img src="../assets/img/picture/photo01-430.png" class="img-fluid" alt="image">
                    </picture>
                </div>
                <div class="col-md-4 mt-3 col-lg-4">
                    <picture>
                        <source media="(min-width:840px)" srcset="../assets/img/picture/photo02-660.png" type="image/png">
                        <img src="../assets/img/picture/photo02-430.png" class="img-fluid" alt="image">
                    </picture>
                </div>
                <div class="col-md-4 mt-3 col-lg-4">
                    <picture>
                        <source media="(min-width:840px)" srcset="../assets/img/picture/photo03-660.png" type="image/png">
                        <img src="../assets/img/picture/photo03-430.png" class="img-fluid" alt="image">
                    </picture>
                </div>
                <div class="col-md-4 mt-3 col-lg-6">
                    <source media="(min-width:840px)" srcset="../assets/img/picture/photo07-660.png" type="image/png">
                    <img src="../assets/img/picture/photo07-430.png" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-6">
                    <source media="(min-width:840px)" srcset="../assets/img/picture/photo09-660.png" type="image/png">
                    <img src="../assets/img/picture/photo09-430.png" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-3">
                    <source media="(min-width:840px)" srcset="../assets/img/picture/photo05-660.png" type="image/png">
                    <img src="../assets/img/picture/photo05-430.png" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-3">
                    <source media="(min-width:840px)" srcset="../assets/img/picture/photo06-660.png" type="image/png">
                    <img src="../assets/img/picture/photo06-430.png" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-3">
                    <source media="(min-width:840px)" srcset="../assets/img/picture/photo04-660.png" type="image/png">
                    <img src="../assets/img/picture/photo04-430.png" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-3">
                    <source media="(min-width:840px)" srcset="../assets/img/picture/photo08-660.png" type="image/png">
                    <img src="../assets/img/picture/photo08-430.png" class="img-fluid" alt="image">
                </div>

            </div>
        </div>

    </section>
</main>
@@include_once('./template-parts/footer.html')

<script src="./assets/js/scripts.min.js"></script>
</body>
</html>