.btn {
  border: 1px solid transparent;
  color: $white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  align-items: center;
  width: fit-content;
  padding: 14px 27px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  background-color: $orange;
  @media (hover: hover) {
    &:hover {
      background-color: $orange-hover;
      color: $white;}
  }
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled),a{
  &:active, &:focus, :focus-visible {
    outline: none;
    box-shadow: none;
  }
  @media (hover: hover) {
    &:hover {
      box-shadow: none;
    }
  }
}

