//Fonts:
$lato : 'Lato', sans-serif;
$play-fair : 'Playfair Display', sans-serif;
//Colors:
$white: #fff;
$black: #101820;
$content: #545454;
$dark-black: #1B222A;
$violet : #2C3173;
$violet-hover : #595fc0;
$dark-grey: #2D343B;
$gray: #C9C9C9;
$orange: #fe7634;
$orange-hover: #fe661b;
$pink: #FAECEC;
$beige: #FFF3E4;
$beige-hover: #ffe8cc;
$yellow: #f2df7c;